/* ALLGEMEINE EINSTELLUNGEN 
*
*
*/
/* Einstellen der Box-sizing Einstellung eintragen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* set font family for the whole html */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* hide hire me badge and navigation links when printing */
@media print {
  .hire-me,
  .nav-link {
    display: none;
  }
}

/* First breakpoint responsive design */
@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

/* Second breakpoint responsive design */
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

/* variablen setzen für colors im markup */
body {
  --background-color: white;
  --text-color: black;
  --primary-color: lightgoldenrodyellow;
  --secondary-color: palevioletred;
  --accent-color: limegreen;
  --gradient-color: white;

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* set font family for headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* set background color when any text is selected */
*::selection {
  background-color: var(--accent-color);
}

/* set text color for navigation links for different activities */
a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--text-color);
}

/* SPEZIELLE STYLINGS 
*
* 
*/

/* styling for header element */
.header {
  padding: 3rem 1rem;
  padding-top: 5rem;
  text-align: center;
  background-image: linear-gradient(
    var(--primary-color),
    var(--gradient-color)
  );
  position: relative;
}

.heading-group {
  font-size: 4rem;
}
.main-heading {
  font-size: 1em;
}

/* emoji after sub-heading */
.profession::after {
  content: "🚀";
}

/* Schriftgröße relativ zum Elternelement main-heading */
.profession {
  font-size: 0.25em;
}

/* Button "Hire Me" Eisntellungen */
.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--accent-color);
  color: var(--text-color);
  font-family: monospace;
  transform-origin: top right;
  transition: transform 0.5s ease-in-out;
}

/* transformation of hire me badge when hovering over header */
.header:hover .hire-me,
.header:focus-within .hire-me {
  transform: scale(1.25);
}

/* use fixed position for the "hire me" nadge beginning with large breakpoint */
@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

/*flexbox einstellen für navigation */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* flexbox umbruch bei medium screen */
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

/* Task Pseudo classes and combinators with transition for navigation links */
.nav-link {
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
  transition: background-color 0.25s ease-in-out;
}

/* add specific color for the hover state on navigation links */
.nav-link:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* add specific color for the active state */
.nav-link:active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* add pseudo class for focus state */
.nav-link:focus {
  background-color: var(--primary-color);
  outline-color: var(--secondary-color);
}

/* add spacing between the navigation links*/
.nav-link + .nav-link {
  margin-left: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

/* add a border line between articles */
.main > * {
  border-top: 0.125rem solid var(--secondary-color);
  padding: 0 1rem;
}

.main {
  padding: 1rem;
  max-width: 60ch; /* ch wert hier einsetzen */
  margin: 0 auto; /* das element rutscht dadurch automatisch in die Mitte */
}

main > article + article {
  margin-top: 5rem;
}

/* add spacing between the different areas of your main content */
.main > * + * {
  margin-top: 3rem;
}

.main > *:first-child {
  border-top: none;
}

/* change the selection style of the document */
*::selection {
  background-color: var(--secondary-color);
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.experience-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  padding: 1rem;
  margin-top: 5rem;
  background-image: linear-gradient(
    360deg,
    var(--primary-color),
    var(--gradient-color)
  );
}

.footer-text {
  text-align: center;
}
/* 
*
*
*
* Ab hier coding aus der Lecture
*/

/* starts with */
[href^="mailto"] {
  color: var(--accent-color);
}
/* starts with */
[href^="tel"] {
  color: var(--accent-color);
}
/* starts with */
[href^="https"] {
  color: var(--accent-color);
}
